<a href="https://colab.research.google.com/github/Fasiloc/Python_learn-repo/blob/main/Classes/Day%201%20-%20python_operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **PYTHON OPERATORS**


---



1.   Arithmetic operators ( + , - , * , / , % , ** , // )
2.   Relational operators ( == , != , > , < , >=, <= )
3.   Assignment operators ( = , += , -= , *= , /= , %= , //= , **= , &= , |= , ^= , >>= , <<= )
4.   Logical operators ( and , or , not )
5.   Membership operators ( in , not in )
6.   Identity operators ( is , is not )
7.   Bitwise operators ( & , | , ^ , ~ , << , >>)

**ARITHMETIC OPERATORS**( + , - , * , / , % , ** , // )

In [ ]:
#Addition
a=10
b=6
print(a+b)

16

In [ ]:
#Subtraction
a=10
b=6
print(a-b)

4

In [ ]:
#Multiplication
a=10
b=6
print(a*b)

60

In [ ]:
#Division
a=10
b=6
print(a/b)

1.6666666666666667

In [ ]:
#Modulus
a=10
b=6
print(a%b)

4

In [ ]:
#Exponentiation
a=10
b=6
print(a**b)

1000000

In [ ]:
#Floor division
a=10
b=6
print(a//b)

1

**RELATIONAL OPERATORS(COMPARISON OPERATORS)**( == , != , > , < , >=, <= )

In [ ]:
#Equal
a=5
b=3
print(a==b)

False

In [ ]:
#Not equal
a=5
b=3
print(a!=b)

True

In [ ]:
#Greater than
a=5
b=3
print(a>b)

True

In [ ]:
#Less than
a=5
b=3
print(a<b)

False

In [ ]:
#Greater than or equal to
a=5
b=3
print(a>=b)

True

In [ ]:
#Less than or equal to
a=5
b=3
print(a<=b)

False

**ASSIGNMENT OPERATORS**( = , += , -=  , /= , %= , //= , *= etc)

In [ ]:
a=10
a+=3  #a=a+3
print(a)

13

In [ ]:
a=10
a-=3  #a=a-3
print(a)

7

In [ ]:
a=10
a*=3  #a=a*3
print(a)

30

In [ ]:
a=10
a/=3  #a=a/3
print(a)

3.3333333333333335

In [ ]:
a=10
a%=4  #a=a%4
print(a)

2

**LOGICAL OPERATORS**( and , or , not )

In [ ]:
# and (Returns true if both statements are true)
x=8
print(x<5 and x<10)

False

In [ ]:
# or (Returns true if either one or both statements are true)
x=8
print(x<5 or x<10)

True

In [ ]:
# not (Reverse the result)
x=8
print(not (x<5))

True

**MEMBERSHIP OPERATORS**(They are used to check if an element is present in a sequence or not)

In [ ]:
# in (Returns true if an element present in a sequence)
x=["apple" , "banana"]
print("banana" in x)

True

In [ ]:
# not in (Returns true if not present)
x=["apple" , "banana"]
print("banana" not in x)

False

**IDENTITY OPERATORS**(compare objects identity not just values)

In [ ]:
# is (Returns true if both variables are the same object)
x=["apple" , "banana"]
y=x
v=("apple","banana")
print(x is y)
print(x is v )

True
False

In [ ]:
#this is single comment
'''multiline
comment'''
x=True
type(x)

bool

In [ ]:
X='
"""this isexample
for multiline string"""

In [ ]:
# is not (Returns true if both variables are not the same object)
x=["apple" , "banana"]
y=["apple" , "banana"]
z=x
x is not z

False

In [ ]:
a=10
b=5
c=5+3j
print (type(c))

<class 'complex'>

Bitwise operator(&,|,^,<<,>>)

In [ ]:
# bitwise and (&)-bit by bit opeartion-if both input are 1 then out 1 otherwise 0
x=2
y=3
x & y

2

In [ ]:
# bitwise or (|)-bit by bit opeartion-if one of the input is 1 then out 1 otherwise 0
x=2
y=3
x | y

3

In [ ]:
# bitwise XOR (^)-bit by bit opeartion-if both input are same then out 0 otherwise 1
x=2
y=3
x ^ y

1

In [ ]:
"""<<(left shift) Bitwise Left shift operator is used to shift 
the binary sequence to the left side by specified position"""
X=4
X<<2

16

In [ ]:
X=4
X>>2

1