<a href="https://colab.research.google.com/github/Fasiloc/Python_learn-repo/blob/main/Classes/Day_6_for_loop_practicals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=int(input('enter number'))
print('multiplication table of number')
for i in range(1,11):
  print(i*a)

enter number5
multiplication table of number
5
10
15
20
25
30
35
40
45
50

In [ ]:
sum=0
for i in range(1,11):
  sum+=i
print(sum)

55

In [ ]:
n=int(input('enter a number'))
for i in range(1,n+1):
  sum+=i

In [ ]:
a=[1,5,6,3]
while a:
  print(a.pop())

3
6
5
1

In [ ]:
num=10
while num>6:
  print(num)
  num-=1
else:
  print('loop is finished')

10
9
8
7
loop is finished

In [ ]:
lst=['kerala','tamilnadu','andra pradesh']
while lst:
  print(lst.pop(-1))

andra pradesh
tamilnadu
kerala

In [ ]:
tpl1=('kerala','goa','haryana')
i=0
while i<len(tpl1):
  print(tpl1[i])
  i=i+1

kerala
goa
haryana

In [ ]:
tpl2=(1,2,3,6)
sum=0
i=0
while i<len(tpl2):
  sum=sum+tpl2[i]
  i=i+1
print(sum)

12

In [ ]:
num=int(input('Enter the number'))
count=0
while num>0:
  num=num//10
  count=count+1
print(count)

Enter the number456
3

In [ ]:
n=int

In [ ]:
height=[155,666,124,111,745]
tall=[h for h in height if h>130]
print(tall)

[155, 666, 745]

In [ ]:
nums=list(range(12))
print(['even' if num%2==0 else 'odd' for num in nums])

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']