<a href="https://colab.research.google.com/github/Fasiloc/Python_learn-repo/blob/main/Classes/Day_16_Toyota_data_analysis_and_correction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
df=pd.read_csv('/content/Toyota.csv',index_col=0)
df.head(10)

   Price   Age     KM FuelType    HP  MetColor  Automatic    CC  Doors  Weight
0  13500  23.0  46986   Diesel    90       1.0          0  2000  three    1165
1  13750  23.0  72937   Diesel    90       1.0          0  2000      3    1165
2  13950  24.0  41711   Diesel    90       NaN          0  2000      3    1165
3  14950  26.0  48000   Diesel    90       0.0          0  2000      3    1165
4  13750  30.0  38500   Diesel    90       0.0          0  2000      3    1170
5  12950  32.0  61000   Diesel    90       0.0          0  2000      3    1170
6  16900  27.0     ??   Diesel  ????       NaN          0  2000      3    1245
7  18600  30.0  75889      NaN    90       1.0          0  2000      3    1245
8  21500  27.0  19700   Petrol   192       0.0          0  1800      3    1185
9  12950  23.0  71138   Diesel  ????       NaN          0  1900      3    1105

In [ ]:
df.index

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            1426, 1427, 1428, 1429, 1430, 1431, 1432, 1433, 1434, 1435],
           dtype='int64', length=1436)

In [ ]:
df.columns

Index(['Price', 'Age', 'KM', 'FuelType', 'HP', 'MetColor', 'Automatic', 'CC',
       'Doors', 'Weight'],
      dtype='object')

In [ ]:
df.size

14360

In [ ]:
df.shape

(1436, 10)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1436 entries, 0 to 1435
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age        1336 non-null   float64
 2   KM         1436 non-null   object
 3   FuelType   1336 non-null   object
 4   HP         1436 non-null   object
 5   MetColor   1286 non-null   float64
 6   Automatic  1436 non-null   int64
 7   CC         1436 non-null   int64
 8   Doors      1436 non-null   object
 9   Weight     1436 non-null   int64
dtypes: float64(2), int64(4), object(4)
memory usage: 123.4+ KB

In [ ]:
print(np.unique(df['KM']))

['1' '10000' '100123' ... '99865' '99971' '??']

In [ ]:
df=pd.read_csv('/content/Toyota.csv',index_col=0,na_values=['??','nan','????'])
df.head(10)

   Price   Age       KM FuelType  ...  Automatic    CC  Doors  Weight
0  13500  23.0  46986.0   Diesel  ...          0  2000  three    1165
1  13750  23.0  72937.0   Diesel  ...          0  2000      3    1165
2  13950  24.0  41711.0   Diesel  ...          0  2000      3    1165
3  14950  26.0  48000.0   Diesel  ...          0  2000      3    1165
4  13750  30.0  38500.0   Diesel  ...          0  2000      3    1170
5  12950  32.0  61000.0   Diesel  ...          0  2000      3    1170
6  16900  27.0      NaN   Diesel  ...          0  2000      3    1245
7  18600  30.0  75889.0      NaN  ...          0  2000      3    1245
8  21500  27.0  19700.0   Petrol  ...          0  1800      3    1185
9  12950  23.0  71138.0   Diesel  ...          0  1900      3    1105

[10 rows x 10 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1436 entries, 0 to 1435
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age        1336 non-null   float64
 2   KM         1421 non-null   float64
 3   FuelType   1336 non-null   object
 4   HP         1430 non-null   float64
 5   MetColor   1286 non-null   float64
 6   Automatic  1436 non-null   int64
 7   CC         1436 non-null   int64
 8   Doors      1436 non-null   object
 9   Weight     1436 non-null   int64
dtypes: float64(4), int64(4), object(2)
memory usage: 123.4+ KB

In [ ]:
print(np.unique(df['KM']))

[  1.  15. 225. ...  nan  nan  nan]

In [ ]:
df

      Price   Age       KM FuelType  ...  Automatic    CC  Doors  Weight
0     13500  23.0  46986.0   Diesel  ...          0  2000  three    1165
1     13750  23.0  72937.0   Diesel  ...          0  2000      3    1165
2     13950  24.0  41711.0   Diesel  ...          0  2000      3    1165
3     14950  26.0  48000.0   Diesel  ...          0  2000      3    1165
4     13750  30.0  38500.0   Diesel  ...          0  2000      3    1170
...     ...   ...      ...      ...  ...        ...   ...    ...     ...
1431   7500   NaN  20544.0   Petrol  ...          0  1300      3    1025
1432  10845  72.0      NaN   Petrol  ...          0  1300      3    1015
1433   8500   NaN  17016.0   Petrol  ...          0  1300      3    1015
1434   7250  70.0      NaN      NaN  ...          0  1300      3    1015
1435   6950  76.0      1.0   Petrol  ...          0  1600      5    1114

[1436 rows x 10 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1436 entries, 0 to 1435
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age        1336 non-null   float64
 2   KM         1421 non-null   float64
 3   FuelType   1336 non-null   object
 4   HP         1430 non-null   float64
 5   MetColor   1286 non-null   float64
 6   Automatic  1436 non-null   int64
 7   CC         1436 non-null   int64
 8   Doors      1436 non-null   object
 9   Weight     1436 non-null   int64
dtypes: float64(4), int64(4), object(2)
memory usage: 123.4+ KB

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1436 entries, 0 to 1435
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age        1336 non-null   float64
 2   KM         1421 non-null   float64
 3   FuelType   1336 non-null   object
 4   HP         1436 non-null   object
 5   MetColor   1286 non-null   float64
 6   Automatic  1436 non-null   int64
 7   CC         1436 non-null   int64
 8   Doors      1436 non-null   object
 9   Weight     1436 non-null   int64
dtypes: float64(3), int64(4), object(3)
memory usage: 123.4+ KB

In [ ]:
data=df.dropna(subset=['KM','Age','FuelType'])