<a href="https://colab.research.google.com/github/Fasiloc/Python_learn-repo/blob/main/Classes/Day_3_Tuple_Practicals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Q-1. Slicing on Tuple
mytuple=(1,5,4,9,6,3,23,78)
print(mytuple[:])
print(mytuple[2:])
print(mytuple[-6:])
print(mytuple[:6])
print(mytuple[:-1])
print(mytuple[1:7])
print(mytuple[2:-2])
print(mytuple[-8:7])
print(mytuple[-7:-2])
print(mytuple[1:8:2])
print(mytuple[-7:7:3])
print(mytuple[0:-1:2])
print(mytuple[-7:-3:2])
print(mytuple[7:2:-2])
print(mytuple[-1:-8:-3])

(1, 5, 4, 9, 6, 3, 23, 78)
(4, 9, 6, 3, 23, 78)
(4, 9, 6, 3, 23, 78)
(1, 5, 4, 9, 6, 3)
(1, 5, 4, 9, 6, 3, 23)
(5, 4, 9, 6, 3, 23)
(4, 9, 6, 3)
(1, 5, 4, 9, 6, 3, 23)
(5, 4, 9, 6, 3)
(5, 9, 3, 78)
(5, 6)
(1, 4, 6, 23)
(5, 9)
(78, 3, 9)
(78, 6, 5)

In [ ]:
#Q-2. 
T=('Hello','python','fun','not')
print('print in separate elements using positive indexing')
print(T[0])
print(T[1])
print(T[2])
print(T[3])
print('print in separate elements using positive indexing')
print(T[-4])
print(T[-3])
print(T[-2])
print(T[-1])
print('print in separate elements using iteration')
for i in T:
  print(i)

print in separate elements using positive indexing
Hello
python
fun
not
print in separate elements using positive indexing
Hello
python
fun
not
print in separate elements using iteration
Hello
python
fun
not

In [ ]:
#Q-3. 
car_tuple=('Toyota','Honda','GM','Ford','BMW','Volkswagen','Marcedes','Ferrari','porsche')
print(car_tuple)
print('cars in the 2 to 6 index are \n',car_tuple[2:7])

('Toyota', 'Honda', 'GM', 'Ford', 'BMW', 'Volkswagen', 'Marcedes', 'Ferrari', 'porsche')
cars in the 2 to 6 index are
 ('GM', 'Ford', 'BMW', 'Volkswagen', 'Marcedes')

In [ ]:
#Q-4. 
T=(1,2,'a','b')
L=[7,'r',5,'e','t',6]
print('list before replacing elements ',L)
for i in range(4):
  L[i]=T[i]
print('list after replacing elements ',L)

list before replacing elements  [7, 'r', 5, 'e', 't', 6]
list after replacing elements  [1, 2, 'a', 'b', 't', 6]

In [ ]:
#Q-5. Mean of the Elements in a Tuple
tpl=1,2,3,7,9,25
print('Mean of the elements is ',sum(tpl)/len(tpl))

Mean of the elements is  7.833333333333333

In [ ]:
#Q-6.a
courses=('python programming','RDBMS','Web technology','S/w engg')
electives=('Business intelligence','Big Data Analysis')
print('Number of courses John taken is ',len(courses))
print('The courses taken by john :')
for i in courses:
  print(i)
print('The courses John interested :',courses+electives)
'''for changing course S/w engg to computer networks'''
courses[3]='computer networks'
print(courses)

Number of courses John taken is  4
The courses taken by john :
python programming
RDBMS
Web technology
S/w engg
The courses John interested : ('python programming', 'RDBMS', 'Web technology', 'S/w engg', 'Business intelligence', 'Big Data Analysis')

TypeError: ignored