<a href="https://colab.research.google.com/github/Fasiloc/Python_learn-repo/blob/main/Classes/Day_6_Loops_Practicals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Multiplication Table of a Number
num=int(input('Enter the number : '))
print('Multiplication Table of the number is ')
for i in range(1,11):
  print(i,'*',num,'=',i*num)

Enter the number : 27
Multiplication Table of the number is
1 * 27 = 27
2 * 27 = 54
3 * 27 = 81
4 * 27 = 108
5 * 27 = 135
6 * 27 = 162
7 * 27 = 189
8 * 27 = 216
9 * 27 = 243
10 * 27 = 270

In [ ]:
#sum of natural numbers between 1 to 7
sum=0
for i in range(1,8):
  sum+=i
  print('The sum of first',i,'numbers is :',sum)

The sum of first 1 numbers is : 1
The sum of first 2 numbers is : 3
The sum of first 3 numbers is : 6
The sum of first 4 numbers is : 10
The sum of first 5 numbers is : 15
The sum of first 6 numbers is : 21
The sum of first 7 numbers is : 28

In [ ]:
#sum of natural numbers
n=int(input('Enter a number : '))
sum=0
for i in range(1,n+1):
  sum+=i
print('Sum of',n,'natural numbers :',sum)
#print("The Sum of Natural Numbers from 1 to {0} =  {1}".format(n, sum))

Enter a number : 22
Sum of 22 natural numbers : 253

In [ ]:
#sum of Elements in a list
l=[2,6,4,7,9,4,3,22,4,67]
sum=0
for i in l:
  sum+=i
print('Sum of the elements in the list :',sum)

Sum of the elements in the list : 128

In [ ]:
#Factorial of a number
n=int(input('Enter a number : '))
fact=1
for i in range(1,n+1):
  fact*=i
print('Factorial of',n,'is',fact)

Enter a number : 21
Factorial of 21 is 51090942171709440000

In [ ]:
#List creation
l1=[]
l2=[]
l3=[]
for i in range(1,50):
  l1.append(i)
for i in range(1,50):
  l2.append(i**2)
for i in range(1,27):
  l3.append(chr(96+i)*i)
print(l1)
print(l2)
print(l3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401]
['a', 'bb', 'ccc', 'dddd', 'eeeee', 'ffffff', 'ggggggg', 'hhhhhhhh', 'iiiiiiiii', 'jjjjjjjjjj', 'kkkkkkkkkkk', 'llllllllllll', 'mmmmmmmmmmmmm', 'nnnnnnnnnnnnnn', 'ooooooooooooooo', 'pppppppppppppppp', 'qqqqqqqqqqqqqqqqq', 'rrrrrrrrrrrrrrrrrr', 'sssssssssssssssssss', 'tttttttttttttttttttt', 'uuuuuuuuuuuuuuuuuuuuu', 'vvvvvvvvvvvvvvvvvvvvvv', 'wwwwwwwwwwwwwwwwwwwwwww', 'xxxxxxxxxxxxxxxxxxxxxxxx', 'yyyyyyyyyyyyyyyyyyyyyyyyy', 'zzzzzzzzzzzzzzzzzzzzzzzzzz']