<a href="https://colab.research.google.com/github/Fasiloc/Python_learn-repo/blob/main/Classes/Day_3_Tuple_colab_work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
mytuple = (10, 30, 20, 40)
print(mytuple)

(10, 30, 20, 40)

In [ ]:
print(type(mytuple))

<class 'tuple'>

In [ ]:
emp_details=('e1001','aju',40,5000.0)
print(emp_details)
print(type(emp_details))
print(emp_details[-4])

('e1001', 'aju', 40, 5000.0)
<class 'tuple'>
e1001

In [ ]:
mytuple2= (2, "Hello", [1, 2, 3], (100, 200), 2)
print(mytuple2)
print(type(mytuple2))
mytuple2[2][1]=4
print(mytuple2)

(2, 'Hello', [1, 2, 3], (100, 200), 2)
<class 'tuple'>
(2, 'Hello', [1, 4, 3], (100, 200), 2)

In [ ]:
mytuple3=1,2,4,5,6
T2="A",'3','4' 
print(T2)
print(type(T2))

('A', '3', '4')
<class 'tuple'>

In [ ]:
T1=tuple("hello")
print(T1)

('h', 'e', 'l', 'l', 'o')

In [ ]:
T1=tuple(input("enter tuple elements"))
print(T1)

enter tuple elements1223345
('1', '2', '2', '3', '3', '4', '5')

In [ ]:
a=input()

2

In [ ]:
a=input()
type(a)

456

str

In [ ]:
T1=(1,2,(12,'a'),[4,7])
print(T1[2][1])

a

In [ ]:
colors = ("Blue", "Green", "Red")
for color in colors:
    print(color)

Blue
Green
Red

In [ ]:
mytuple = (1, 2, 3, 4, 5, 6)
print(len(mytuple))

6

In [ ]:
mytuple = (1, 2, 3, 4, 5, 6)
print(min(mytuple))

1

In [ ]:
mytuple = (1, 2, 3, 4, 5, 6)
print(sum(mytuple))

21

In [ ]:
mytuple = (1, 2, 3, 4, 5, 6)
print(sorted(mytuple,reverse=True))

[6, 5, 4, 3, 2, 1]

In [ ]:
languages = ('Python', 'C', 'Java', 'C++', 'Java')
print(languages.index('Java')) # printing index of first occurrence of 'Java'
print(languages.count('Java')) # printing count of 'Java'

2
2

dict_keys(['name', 'age', 'gender'])