<a href="https://colab.research.google.com/github/Fasiloc/Python_learn-repo/blob/main/Classes/Day_2_Lists_in_python_AIML_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fruit=['apple','orange','banana']
print(fruit)
type(fruit)

['apple', 'orange', 'banana']

list

In [ ]:
emp_details=['john',20,2000.0,20]
print(emp_details)
type(emp_details)

['john', 20, 2000.0, 20]

list

In [ ]:
l=list('hello')
print(l)
type(l)

['h', 'e', 'l', 'l', 'o']

list

In [ ]:
emp_name=['john','james','ram','mohan']
print (emp_name)
emp_name[2]

['john', 'james', 'ram', 'mohan']

'ram'

In [ ]:
emp_name=['john','james','ram','mohan']
print (emp_name)
emp_name[-3]

['john', 'james', 'ram', 'mohan']

'james'

In [ ]:
emp_name=['john','james','ram','mohan']
print(emp_name[1:3])

['james', 'ram']

In [ ]:
mylist=[1,2,3,4,5,6,7,8,9,10]
print(mylist[2:9])
print(mylist[4:])
print(mylist[:8])
print(mylist[:])
print(mylist[1:10:3])
print(mylist[-9:-3])
print(mylist[3:-3])
print(mylist[-9:])
print(mylist[:-3])
print(mylist[9:1:-2])

[3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 5, 8]
[2, 3, 4, 5, 6, 7]
[4, 5, 6, 7]
[2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7]
[10, 8, 6, 4]

In [ ]:
emp_name=['john','james','ram','mohan']
emp_name[2]='ravi'
print(emp_name)

['john', 'james', 'ravi', 'mohan']

In [ ]:
emp_name=['john','james','ram','mohan']
emp_name.append("ravi")
print(emp_name)

['john', 'james', 'ram', 'mohan', 'ravi']

In [ ]:
emp_name=['john','james','ram','mohan']
emp_name.insert(2,'karan')
print(emp_name)

['john', 'james', 'karan', 'ram', 'mohan']

In [ ]:
emp_name=['john','james','ram','mohan']
print(emp_name.pop(0))
print(emp_name)

john
['james', 'ram', 'mohan']

In [ ]:
mylist=[1,2,3,4,5]

In [ ]:
mylist=[1,2,3,4,5]
mylist.extend([6,7])
print(mylist)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
mylist=[1,2,3,4,5]
del mylist[2]
print(mylist)

[1, 2, 4, 5]

In [ ]:
mylist=[1,2,5,3,4,5,5]
mylist.remove(5)
print(mylist)

[1, 2, 3, 4, 5, 5]

In [ ]:
color=['blue','green','red']
for i in color:
  print(i)

blue
green
red

In [ ]:
emplist=[['ram','ravi','john'],[1,2,3]]
emplist[1]

[1, 2, 3]

In [ ]:
emplist=[['ram','ravi','john'],[1,2,3]]
emplist[0]

['ram', 'ravi', 'john']

In [ ]:
emplist=[['ram','ravi','john'],[1,2,3]]
emplist[0][1]

'ravi'

In [ ]:
number=[2,3,4,5]
square=[]
for i in number:
  square.append(i**2)
print(square)

[4, 9, 16, 25]

In [ ]:
number=[2,3,4,5]
square=[i**2 for i in number]
print(square)

[4, 9, 16, 25]

In [ ]:
numbers=[1,2,3,4,5,6,7,8,9,10]
even=[i for i in numbers if i%2==0]
print(even)

[2, 4, 6, 8, 10]

In [ ]:
l1=[5,8,9,5,6,5,4]
print(len(l1))
print(max(l1))
print(min(l1))
print(sum(l1))
print(sorted(l1))
print(sorted(l1,reverse=True))
print(l1.index(6))
print(l1.count(5))

7
9
4
42
[4, 5, 5, 5, 6, 8, 9]
[9, 8, 6, 5, 5, 5, 4]
4
3

In [ ]:
x=[1,2,3,4,5]
y=['python','c#','java']
print(x+y)
print(x*3)
print(x[3])
print(x[-4])
print(x[1:4])
print(3 in x)
print(4 not in x)

[1, 2, 3, 4, 5, 'python', 'c#', 'java']
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
4
2
[2, 3, 4]
True
False