<a href="https://colab.research.google.com/github/Fasiloc/Python_learn-repo/blob/main/Assignments/Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data=pd.read_csv('/content/irisNw.csv')
data.head(10)

  sepal_length sepal_width petal_length petal_width species
0          5.1         3.5          1.4         0.2  setosa
1          4.9           3          1.4         0.2  setosa
2          4.7         3.2          1.3         0.2  setosa
3          4.6         3.1          1.5         0.2  setosa
4          NaN         3.6          1.4         0.2  setosa
5          5.4         3.9          1.7         0.4  setosa
6          4.6         3.4          1.4         0.3  setosa
7            5         3.4          1.5         0.2  setosa
8          4.4         2.9          1.4         0.2  setosa
9          4.9         3.1          1.5         0.1  setosa

In [ ]:
data.index

RangeIndex(start=0, stop=150, step=1)

In [ ]:
data.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [ ]:
data=pd.read_csv('/content/irisNw.csv')

In [ ]:
data.index

RangeIndex(start=0, stop=150, step=1)

In [ ]:
data.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [ ]:
data.size

750

In [ ]:
data.shape

(150, 5)

In [ ]:
data.head(10)

  sepal_length sepal_width petal_length petal_width species
0          5.1         3.5          1.4         0.2  setosa
1          4.9           3          1.4         0.2  setosa
2          4.7         3.2          1.3         0.2  setosa
3          4.6         3.1          1.5         0.2  setosa
4          NaN         3.6          1.4         0.2  setosa
5          5.4         3.9          1.7         0.4  setosa
6          4.6         3.4          1.4         0.3  setosa
7            5         3.4          1.5         0.2  setosa
8          4.4         2.9          1.4         0.2  setosa
9          4.9         3.1          1.5         0.1  setosa

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  149 non-null    object
 1   sepal_width   145 non-null    object
 2   petal_length  150 non-null    object
 3   petal_width   149 non-null    object
 4   species       149 non-null    object
dtypes: object(5)
memory usage: 6.0+ KB

You can analyse data from above, checking data types and null value count. 
Now we have to find invalid entries in each columns in data set using uniue function

In [ ]:
data['sepal_length'].unique()

array(['5.1', '4.9', '4.7', '4.6', nan, '5.4', '5', '4.4', '4.8', '4.3',
       '5.8', '5.7', '5.2', '5.5', '4.5', '$$', '5.3', '@', '7', '6.4',
       '6.9', '6.5', '6.3', '6.6', '5.9', '6', '6.1', '5.6', '6.7', '6.2',
       '6.8', '7.1', '7.6', '7.3', '7.2', '7.7', '7.4', '7.9'],
      dtype=object)

In [ ]:
data['sepal_width'].unique()

array(['3.5', '3', '3.2', '3.1', '3.6', '3.9', '3.4', '2.9', '3.7', nan,
       '4.4', '3.8', '3.3', '4.1', '@', '2.3', '2.8', '$', '2.4', '2.7',
       '2', '2.2', '2.5', '2.6'], dtype=object)

In [ ]:
data['petal_length'].unique()

array(['1.4', '1.3', '1.5', '1.7', '1.6', '1.1', '1.2', '1', '1.9', '$',
       '4.7', '4.5', '4.9', '4', '4.6', '$$', '3.3', '3.9', '3.5', '4.2',
       '3.6', '4.4', '4.1', '4.8', '4.3', '5', '3.8', '3.7', '5.1', '3',
       '6', '5.9', '5.6', '5.8', '6.6', '6.3', '6.1', '5.3', '5.5', '6.7',
       '6.9', '5.7', '6.4', '5.4', '5.2'], dtype=object)

In [ ]:
data['petal_width'].unique()

array(['0.2', '0.4', '0.3', '0.1', nan, '0.5', '@', '0.6', '1.4', '1.5',
       '1.3', '1.6', '1', '1.1', '1.8', '1.2', '1.7', '2.5', '1.9', '2.1',
       '2.2', '2', '2.4', '2.3'], dtype=object)

In [ ]:
data['species'].unique()

array(['setosa', nan, 'versicolor', 'virginica'], dtype=object)

Now replace those invalid values with null values, which can be done when reading the data set

In [ ]:
data=pd.read_csv('/content/irisNw.csv',na_values=['$$','@','$'])
data

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             NaN          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

Now compare each columns null values and data type should match to type of column in dataset

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  147 non-null    float64
 1   sepal_width   143 non-null    float64
 2   petal_length  148 non-null    float64
 3   petal_width   148 non-null    float64
 4   species       149 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

Now fill null values in each columns with different methods

In [ ]:
data['sepal_length'].fillna(int(data['sepal_length'].mean()), inplace=True)

In [ ]:
data['sepal_width'].interpolate(method='linear')

0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: sepal_width, Length: 150, dtype: float64

In [ ]:
data['sepal_width'].fillna(int(data['sepal_width'].mean()), inplace=True)

The columns with less number of null values can be droped and store data to new file

In [ ]:
newdata=data.dropna(subset=['species','petal_width','petal_length'])

In [ ]:
newdata

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[145 rows x 5 columns]

Confirm all columns are correct

In [ ]:
newdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 145 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  145 non-null    float64
 1   sepal_width   145 non-null    float64
 2   petal_length  145 non-null    float64
 3   petal_width   145 non-null    float64
 4   species       145 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.8+ KB